.card {
    margin: 0 auto;
    width: 80%;
    height: 60%;
    padding: 50px; 
    border: 3px solid #4890a8;
    border-radius: 6px;

    .header {
        display: flex;
        margin-bottom: 50px;
        width: 100%;
        height: 100px;
        background-color: #4890a8;
        justify-content: center;
        align-items: center;
        color: white;
        font-size: 30px;
        border-radius: 6px;
    }

    .setting_form {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        .input_data {
            width: 70%;
            margin: 10px;
            padding: 10px;
            box-shadow: 4px 9px 23px 5px rgba(34, 60, 80, 0.2);
            border: none;
            border-radius: 6px;
            outline: none;
        }

        .filter {
            width: 70%;
            margin: 30px auto;
            box-shadow: 4px 9px 23px 5px rgba(34, 60, 80, 0.2);
            border-radius: 20px;
            padding: 10px;
            display: flex;
            justify-content: space-between;
              
              .box_select select {
                background-color: #4890a9;
                border-radius: 5px;
                color: white;
                padding: 12px;
                width: 250px;
                border: none;
                font-size: 20px;
                box-shadow: 0 5px 25px rgba(0, 0, 0, 0.2);
                -webkit-appearance: button;
                appearance: button;
                outline: none;
              }
              
              .box_select::before {
                font-family: FontAwesome;
                position: absolute;
                top: 0;
                right: 0;
                width: 20%;
                height: 100%;
                text-align: center;
                font-size: 28px;
                line-height: 45px;
                color: rgba(255, 255, 255, 0.5);
                background-color: rgba(255, 255, 255, 0.1);
                pointer-events: none;
              }
              
              .box_select:hover::before {
                color: rgba(255, 255, 255, 0.6);
                background-color: rgba(255, 255, 255, 0.2);
              }
              
              .box_select select option {
                padding: 30px;
              }
    
              .check_box {
                display: flex;
                align-items: center;
                justify-content: center;
    
                .container {
                    display: block;
                    position: relative;
                    padding-left: 35px;
                    margin-bottom: 12px;
                    cursor: pointer;
                    font-size: 22px;
                    -webkit-user-select: none;
                    -moz-user-select: none;
                    -ms-user-select: none;
                    user-select: none;
                  }
                  
                  /* Hide the browser's default checkbox */
                  .container input {
                    position: absolute;
                    opacity: 0;
                    cursor: pointer;
                    height: 0;
                    width: 0;
                  }
                  
                  /* Create a custom checkbox */
                  .checkmark {
                    position: absolute;
                    top: 0;
                    left: 0;
                    height: 25px;
                    width: 25px;
                    background-color: #eee;
                  }
                  
                  /* On mouse-over, add a grey background color */
                  .container:hover input ~ .checkmark {
                    background-color: #ccc;
                  }
                  
                  /* When the checkbox is checked, add a blue background */
                  .container input:checked ~ .checkmark {
                    background-color: #2196F3;
                  }
                  
                  /* Create the checkmark/indicator (hidden when not checked) */
                  .checkmark:after {
                    content: "";
                    position: absolute;
                    display: none;
                  }
                  
                  /* Show the checkmark when checked */
                  .container input:checked ~ .checkmark:after {
                    display: block;
                  }
                  
                  /* Style the checkmark/indicator */
                  .container .checkmark:after {
                    left: 9px;
                    top: 5px;
                    width: 5px;
                    height: 10px;
                    border: solid white;
                    border-width: 0 3px 3px 0;
                    -webkit-transform: rotate(45deg);
                    -ms-transform: rotate(45deg);
                    transform: rotate(45deg);
                  }
              }
        }

        >button {
            margin: 30px auto;
            margin-bottom: 10px;
            border-radius: 8px;
            border: 1px solid gray;
            padding: 0.6em 1.2em;
            font-size: 1em;
            font-weight: 500;
            font-family: inherit;
            background-color: #4890a8;
            color: white;
            cursor: pointer;
            transition: all 0.25s;
                &:hover {
                    border-color: #ddd59a;
                    background-color: #ffec1b;
                    color: #4890a8;
              }
        }
    }
}